* {
  box-sizing: border-box;
}

/* Main CSS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}
main {
  display: flex;
  flex-wrap: wrap;
}
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

/* Navigation CSS */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  color: #b8c7d4;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: #fff;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Hero CSS */
.hero-banner {
  height: 200px;
  background-image: url("/images/02-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#heroGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas:
  "hero";
}
#hero {
  grid-area: hero;
}
#headline {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 5px solid #FF6200;
  position: absolute;
  right: -50px;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}
.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

/* Grid CSS */
.page-section {
  width: 100%;
}
#about {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#work {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#contact {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "surf surf"
  "wall calculator"
  "puzzles buddy"
  ;
}

#surf {
  grid-area: surf;
  background-image: url("/images/02-portfolio-4.jpg");
}
#wall {
  grid-area: wall;
  background-image: url("/images/02-portfolio-1.jpg");
}
#calculator {
  grid-area: calculator;
  background-image: url("/images/02-portfolio-2.jpg");
}
#puzzles {
  grid-area: puzzles;
  background-image: url("/images/02-portfolio-3.jpg");
}
#buddy {
  grid-area: buddy;
  background-image: url("/images/02-run-buddy.jpg");
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
}

h3 {
  width: 25%;
  font-weight: 500;
  align-items: center;
}